* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(180deg, #cbeaff 0%, #ffffff 100%);
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  background: url("../img/cloud.svg");
  background-repeat: no-repeat;
  background-position: 0 7vh;
}

.images {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-taker {
  position: absolute;
  top: 10vh;
  left: 60vh;
  -webkit-animation: move2 10s linear infinite;
  -moz-animation: move2 10s linear infinite;
  animation: move2 10s linear infinite;
}

.parachute {
  position: absolute;
  left: 20vh;
  top: 35vh;
  -webkit-animation: move 15s linear infinite;
  -moz-animation: move 15s linear infinite;
  animation: move 15s linear infinite;
}

.sun {
  position: absolute;
  top: 10vh;
  right: 10vh;
  -webkit-animation: spin 30s linear infinite;
  -moz-animation: spin 30s linear infinite;
  animation: spin 30s linear infinite;
}

.parachute img,
.photo-taker img,
.wrapper .clock .clock-body img,
.wrapper .clock .clock-arrow img,
.sun img {
  width: 100%;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main .wrapper .logo,
.main .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .wrapper .logo img {
  width: 700px;
}

.clock {
  position: absolute;
  right: -10vh;
  top: 20vh;
}

.clock .clock-arrow {
  position: absolute;
  top: 33%;
  right: 37%;
  -webkit-animation: rotate 12s linear infinite;
  -moz-animation: rotate 12s linear infinite;
  animation: rotate 12s linear infinite;
}

.main .buttons {
  flex-direction: column;
}

.main .buttons .btn {
  width: 518px;
  height: 118px;
  color: #fff;
  background: linear-gradient(180deg, #dd5845 0%, #ff00b8 100%);
  border: 4px solid #ffffff;
  box-shadow: 2px 8px 13px rgb(0 0 0 / 25%);
  border-radius: 63px;
  font-size: 27.78px;
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  cursor: pointer;
  user-select: none;
  z-index: 999;
}

.main .buttons .btn:hover {
  color: #ff00b8;
  background: #fff;
  border: 4px solid #ff00b8;
  border-radius: 63px;
}

.main .buttons .btn:nth-child(2) {
  margin-top: 30px;
}

.footer {
  z-index: 1;
}

.footer img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 10%);
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes move2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
  }
  40% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
  60% {
    -webkit-transform: rotate(216deg);
    transform: rotate(216deg);
  }
  80% {
    -webkit-transform: rotate(288deg);
    transform: rotate(288deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1366px) {
  .container {
    background-position: 100% 20%;
    background-size: 100%;
  }

  .photo-taker {
    top: 10vh;
    left: 35vh;
  }

  .parachute {
    left: 10vh;
    top: 35vh;
  }

  .sun {
    top: 7vh;
  }

  .main .wrapper .logo img {
    width: 560px;
  }

  .main .buttons .btn {
    width: 430px;
    height: 80px;
    font-size: 23px;
  }

  @keyframes move {
    50% {
      -webkit-transform: translateY(-60%);
      transform: translateY(-60%);
    }
  }
  @keyframes move2 {
    50% {
      -webkit-transform: translateY(-20%);
      transform: translateY(-20%);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .photo-taker {
    display: none;
  }

  .parachute {
    left: 2vh;
    top: 35vh;
  }

  .sun {
    top: 3vh;
    right: 3vh;
  }

  .clock {
    right: -14vh;
    top: 10vh;
  }

  .main .wrapper .logo img {
    width: 120%;
  }

  .main .buttons .btn {
    width: 400px;
    height: 70px;
    font-size: 21px;
    border: 3px solid #fff;
  }

  .main .buttons .btn:nth-child(2) {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    background-size: cover;
  }

  .parachute {
    left: 3vh;
    top: 15vh;
  }

  .parachute img {
    width: 60%;
  }

  .sun {
    top: 3vh;
    right: 3vh;
  }

  .clock {
    right: -15vh;
    top: 20vh;
  }

  .clock .clock-body {
    width: 60%;
  }
  .clock .clock-arrow {
    width: 12%;
    top: 34%;
    right: 63%;
  }

  .main .wrapper .logo img {
    width: 120%;
  }

  .main .buttons .btn {
    width: 400px;
    height: 70px;
    font-size: 21px;
    border: 3px solid #fff;
  }

  .main .buttons .btn:nth-child(2) {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .parachute {
    left: 5vh;
    top: 10vh;
  }

  .sun {
    -webkit-animation: spin 40s linear infinite;
    -moz-animation: spin 40s linear infinite;
    animation: spin 40s linear infinite;
  }

  .clock {
    right: -15vh;
    top: 7vh;
  }

  .main .buttons .btn {
    width: 280px;
    height: 70px;
    font-size: 18px;
    border: 2px solid #fff;
  }

  @keyframes move {
    50% {
      -webkit-transform: translateY(-30%);
      transform: translateY(-30%);
    }
  }
}

@media only screen and (max-width: 515px) {
  .parachute {
    left: 3vh;
    animation: move 8s linear infinite;
  }

  .clock {
    top: -7vh;
    right: -10vh;
  }

  .clock .clock-body {
    width: 50%;
  }
  .clock .clock-arrow {
    width: 10%;
    top: 34%;
    right: 70%;
  }

  .parachute img {
    width: 40%;
  }

  .sun {
    top: 3vh;
    right: 12vh;
  }

  .main .wrapper .logo img {
    width: 140%;
  }

  @keyframes move {
    50% {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}
